.name
{
margin-top: 120px;
margin-left: 175px;
font-family: Brownstd, sans-serif;
font-weight: 300;
/* letter-spacing: 1px; */
text-transform: uppercase;
}
.getIntouchBtn{
  padding: 15px 3vh;
    border-radius: 5px;
    background-color: #1bac7d;
    font-family: Brownstd, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 175px;

}

.paraAbout{
  margin-top: 3vh;
    margin-bottom: 3vh;
    color: #333;
    text-align: justify;
    margin-left: 20px;
}
.myImage{
margin-top: 120px;
margin-bottom: 3vh;
height:400px ;
}

.image{
  height: 500px;
  width: 500px;
}
