
<div class="container pt-5">
  <h1 class="name">HI, I'M
    <br>
    <strong>Shruti sigi</strong>
  </h1>
  <br>
  <a href="#contact" class="btn btn-info getIntouchBtn" role="button">Get in touch</a>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="name">A Little bit about me</h3>
    <p class="paraAbout">
When I graduated from Oxford I realised how much I had left to learn.
A traditional education had given me specialised knowledge but hadn't set me up with the skills needed to succeed in an environment of constant change.
<br>
<br>
So I set out on a journey to answer the question "What knowledge and skills do I need to thrive in the 21st century?"
<br>
<br>
MetaLearn is my map of that journey. I've documented everything I've learned from years of personal study and conversations with some of the world's top experts in a range of fields from philosophy to technology, and psychology to business.
<br>
<br>
My experience has taught me that there's a wealth of great information out there... but it can be hard to absorb and convert it into genuine knowledge and understanding that can be applied in daily life.
<br>
<br>
By exploring the podcasts and articles on the site you'll gain the knowledge and skills needed to future proof yourself as well as the inspiration and direction you need to take your education into your own hands
    </p>
  </div>
  <div class="col-sm-6 myImage">
    <img src="/assets/images/myprofile.jpeg" alt="Girl in a jacket"class="image" >
  </div>
  </div>

  <div id="contact">
    dcskmcsmcklas
    dvdvdvdsvdsv
    dvdsvdvvdsfvd
    vdvdsvdvdffv
  </div>
